* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

.hover:hover {
  transform: scale3d(1.3, 1.3, 1);
  color: black;
}

#resume:hover,
#lets_talk:hover {
  box-shadow: black 10px 10px 0px;
}

body {
  background: url(/images/.png) white;
}

#menubar {
  font-size: 35px;
  padding: 25px;
  position: relative;
  left: 60%;
  display: none;
}

#navbar {
  display: flex;
  justify-content: space-between;
  background-color: white;
  width: 100%;
  height: 120px;
  position: fixed;
  z-index: 9999;
}

#logo {
  font-size: 35px;
  color: black;
  font-weight: 900;
  text-align: right;
  display: flex;
  padding: 30px;
  margin-left: 100px;
  margin-top: 15px;
}

#links {
  color: black;
  font-size: 20px;
  font-weight: 600;
  padding: 70px;
  padding-top: 0%;
  display: flex;
  margin-top: 50px;
  word-spacing: 30px;
}

.hover {
  color: black;
  padding-left: 50px;
  transition: 0.4s;
}

#resume {
  margin-top: 30px;
}

#lets_talk {
  margin-top: 20px;
  margin-left: 120px;
}

#lets_talk,
#resume {
  height: 60px;
  width: 150px;
  background-color: transparent;
  color: black;
  margin-right: 200px;
  border: solid black 2px;
  border-radius: 10px;
  font-size: 20px;
  transition: 0.5s;
}

i {
  color: black;
  transition: 0.3s;
}

#social_media {
  word-spacing: 20px;
  margin-top: 40px;
  font-size: 30px;
  margin-left: 120px;
}

i:hover {
  transform: scale(1.5);
}

.blue {
  color: black;
}

.photo {
  height: 250px;
  width: 250px;
  border: black 5px solid;
  border-radius: 50%;
  background: url(/images/profile.jpg);
  background-size: contain;
}

.right {
  display: flex;
  justify-content: right;
  position: relative;
  top: 18rem;
  margin-right: 200px;
}

#intro,
#subtext,
#intro_para {
  color: black;
  font-size: 20px;
  font-weight: 600;
  margin-left: 120px;
  margin-right: 600px;
}

#intro {
  font-size: 50px;
  font-weight: 900;
  overflow: hidden;
  border-right: white solid 5px;
  white-space: nowrap;
  width: 35%;
  animation: typing 2s steps(25), cursor 0.4s step-end infinite alternate;
}

@keyframes cursor {
  50% {
    border-color: black;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
}

#align {
  position: relative;
  bottom: 20px;
  height: 550px;
}

#arrow {
  color: black;
  font-size: 40px;
  text-align: center;
  animation-name: Bounce;
  animation-duration: 0.6s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  position: relative;
  top: 2rem;
}

a:hover {
  color: black;
}

@keyframes Bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(30px);
  }
}

::-webkit-scrollbar {
  width: 10px;
  background-color: white;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-thumb {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: black;
}

::-webkit-scrollbar-thumb:hover {
  background-color: black;
}

.parallel {
  display: flex;
  justify-content: space-evenly;
}

.content_box {
  height: auto;
  background-color: rgb(225, 225, 225);
  padding-bottom: 30px;
}

.center {
  display: flex;
  justify-content: center;
}

#blu {
  color: black;
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  padding-top: 50px;
}

#aboutme {
  text-align: center;
  color: black;
  font-size: 25px;
  font-weight: 400;
  padding: 50px;
  margin-right: 80px;
  margin-left: 80px;
}

.read {
  font-size: 20px;
  background-color: transparent;
  border-radius: 10px;
  border: black solid 2px;
  color: black;
  margin-left: 30px;
  height: 50px;
  width: 150px;
  text-align: center;
  transition: 0.9s;
}

.read:hover {
  background-color: black;
  color: white;
}

.heading {
  color: black;
  font-size: 50px;
  font-weight: 600;
  padding: 50px;
  display: flex;
  justify-content: center;
  text-transform: capitalize;
}

#linear2,
#linear {
  border: black solid 5px;
  height: 500px;
  width: 50%;
  margin: 100px;
  padding: 100px;
  color: black;
  font-size: 20px;
  transition: 0.7s;
  border-radius: 20px;
}

.graph {
  height: 20px;
  width: 300px;
  border: black 2px solid;
  outline: black;
  border-radius: 10px;
}

#go,
#go1,
#go2,
#go3,
#go4,
#go5,
#go6,
#go7 {
  height: 100%;
  width: 0%;
  background-color: black;
  border-radius: 10px;
}

#go {
  animation: fill-bar-1 5s;
  animation-fill-mode: forwards;
}

#go1 {
  animation: fill-bar0 5s;
  animation-fill-mode: forwards;
}

#go4 {
  animation: fill-bar4 5s;
  animation-fill-mode: forwards;
}

#go5 {
  animation: fill-bar5 5s;
  animation-fill-mode: forwards;
}

#go7,
#go2 {
  animation: fill-bar6 5s;
  animation-fill-mode: forwards;
}

@keyframes fill-bar-1 {
  from {
    width: 0%;
  }
  to {
    width: 90%;
  }
}

@keyframes fill-bar0 {
  from {
    width: 0%;
  }
  to {
    width: 50%;
  }
}

@keyframes fill-bar1 {
  from {
    width: 0%;
  }
  to {
    width: 20%;
  }
}

@keyframes fill-bar4 {
  from {
    width: 0%;
  }
  to {
    width: 40%;
  }
}

@keyframes fill-bar5 {
  from {
    width: 0%;
  }
  to {
    width: 30%;
  }
}

@keyframes fill-bar6 {
  from {
    width: 0%;
  }
  to {
    width: 20%;
  }
}

.edu {
  border: black solid 5px;
  height: 320px;
  width: 600px;
  border-radius: 10px;
  margin: 20px;
  color: black;
  font-size: 20px;
  padding: 30px;
  transition: 0.5s;
}

.edu:hover,
#linear:hover,
#linear2:hover {
  transform: scale3d(1.1, 1.1, 1);
  box-shadow: black 10px 10px 50px;
}

#project_container {
  display: flex;
  justify-content: center;
}

.Project_text {
  color: black;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 25px;
  position: relative;
  bottom: 200px;
  height: 200px;
  width: 200px;
  padding-top: 80px;
  opacity: 0;
  text-align: center;
  transition: 0.9s;
}

.card {
  text-align: center;
  margin: 50px;
  height: 210px;
  width: 210px;
  border-radius: 25px;
  border: black solid 2px;
}

.Project_text:hover {
  opacity: 1;
}

input {
  height: 75px;
  width: 500px;
  border: black 2px solid;
  background-color: transparent;
  color: black;
  padding-left: 30px;
  margin: 10px;
  font-size: 20px;
}

#input1,
#input2 {
  display: flex;
  justify-content: center;
}

textarea {
  display: flex;
  justify-content: center;
  height: 300px;
  width: 1020px;
  border: black solid 2px;
  background-color: transparent;
  color: #686b6d;
  padding: 20px;
  font-size: 20px;
}

footer {
  margin: 20px;
  color: black;
  font-size: 20px;
  padding-left: 100px;
  display: flex;
  justify-content: space-evenly;
  font-weight: 900;
}

#up {
  font-size: 30px;
  margin-left: 200px;
}

#fixed {
  display: flex;
  justify-content: right;
  position: fixed;
  left: 97.5%;
  bottom: 2%;
}

#light {
  font-size: 30px;
}

/* Media Queries for Phones */

@media (max-width: 1000px) {
  #menubar {
    display: block;
    left: 15%;
    padding-top: 35px;
  }

  #navbar {
    width: auto;
    height: 50px;
    position: relative;
  }

  #logo {
    font-size: 30px;
    padding: 20px;
    margin-left: 0px;
    margin-top: 15px;
  }

  #links {
    display: none;
  }

  #resume {
    display: none;
  }

  #lets_talk {
    margin-top: 130px;
    margin-left: 10px;
    margin-left: 30px;
    margin-right: 30px;
  }

  #lets_talk,
  #resume {
    height: 50px;
    width: 150px;
    background-color: transparent;
    color: black;
    margin-right: 00px;
    border: solid black 2px;
    border-radius: 10px;
    font-size: 20px;
    transition: 0.5s;
  }

  #social_media {
    margin-top: 20px;
    font-size: 20px;
    padding-left: 0px;
    margin-left: 35px;
    margin-right: 35px;
  }

  .photo {
    height: 100px;
    width: 100px;
    background-size: cover;
    margin: 0px;
    padding: 0px;
  }

  .right {
    display: flex;
    justify-content: center;
    margin: 0px;
    padding: 0px;
    position: relative;
    top: 120px;
  }

  #intro,
  #subtext,
  #intro_para {
    font-size: 25px;
    font-weight: 400;
    margin: 0px;
    padding-left: 10px;
    position: relative;
    top: 150px;
    margin-left: 20px;
    margin-right: 20px;
  }

  #intro {
    font-weight: 900;
    width: 100%;
    animation: typing 2s steps(25), cursor 0.4s step-end infinite alternate;
  }

  @keyframes cursor {
    50% {
      border-color: black;
    }
  }

  @keyframes typing {
    from {
      width: 0;
    }
  }

  #align {
    position: relative;
    bottom: 20px;
    height: 600px;
  }

  #arrow {
    font-size: 30px;
    position: relative;
    top: 10px;
  }

  @keyframes Bounce {
    from {
      transform: translateY(0px);
    }
    to {
      transform: translateY(30px);
    }
  }

  ::-webkit-scrollbar {
    display: none;
  }

  ::-webkit-scrollbar-track,
  ::-webkit-scrollbar-thumb {
    display: none;
  }

  ::-webkit-scrollbar-thumb {
    display: none;
  }

  ::-webkit-scrollbar-thumb:hover {
    display: none;
  }

  .parallel {
    display: block;
  }

  #blu {
    color: black;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    padding-top: 50px;
  }

  #aboutme {
    padding: 0px;
    padding-top: 10px;
  }

  .read {
    font-size: 20px;
    margin-top: 20px;
    height: 50px;
    width: 150px;
  }

  .heading {
    font-size: 40px;
  }

  #linear2,
  #linear {
    width: auto;
    margin: 0px;
    margin-bottom: 50px;
    padding-left: 20px;
    padding-top: 80px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .edu {
    height: 350px;
    width: auto;
    margin: 0px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .edu:hover,
  #linear:hover,
  #linear2:hover {
    transform: none;
    box-shadow: none;
  }

  input {
    width: 100%;
    margin: 0px;
  }

  #input1,
  #input2 {
    margin-left: 20px;
    margin-right: 20px;
  }

  textarea {
    margin-left: 20px;
    margin-right: 20px;
  }

  footer {
    margin: 0px;
    margin-top: 20px;
    padding-left: 0px;
    display: flex;
    justify-content: space-around;
    font-weight: 600;
  }

  #up {
    margin-left: 0px;
  }

  #fixed {
    display: none;
  }
}
